<%include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="assets/landing.css">


<section id='wrapper'>
	<div id='grouping'>

		<div id="interface">

			<h1 id='head'>Camp Now <i class='fas fa-tree'></i></h1>
			<a id='camp-link' href='/campgrounds'>Go Camping</a>
			
		</div>
	</div>

</section>

<%include partials/footer.ejs%>